# Основные библиотеки
pyTelegramBotAPI==4.12.0
python-dotenv==1.0.0
requests==2.31.0

# FastAPI и зависимости
fastapi==0.103.1
uvicorn==0.23.2
pydantic==2.3.0

# Планировщик задач
APScheduler==3.10.4

# Безопасность
cryptography==41.0.3

# Логирование и утилиты
python-multipart==0.0.6
colorlog==6.7.0

